<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a partial, and is templated by AngularJS -->
<div style="font-family: Arial, 'MS Trebuchet', sans-serif;">
    <!-- If there are no members registered, instead of showing the table, we show a simple message. -->
    <em ng-show="posts.length == 0">No registered members.</em>
    
    <table ng-hide="posts.length == 0" class="simpletablestyle" 
    	border=1 cellpadding=3 cellspacing=1 rules=rows frame=hsides>
        <thead>
            <tr>
                <th>Date & Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
        <tr ng-repeat="post in posts | orderBy:id">
            <td width="50px"><small>{{post.date | date:'mediumDate'}}<br>(id:{{post.id}})<br>{{post.title}}</small></td>
            <td><div ng-bind-html-unsafe="post.content"></div></td>
        </tr>
    </table>
    <div>
        REST URL for all members: <a href="rest/posts">/rest/posts</a>
    </div>
    <div>
        <!-- The table has a button to manually refresh the values, in case, for example, someone else adds a member -->
        <input type="button" ng-click="refresh()" name="refresh"
            id="refresh" value="Refresh" />
    </div>
</div>
